In [3]:
import pandas as pd
nrows = 50_000

df = pd.read_csv("../data/kaggleDataset/chessData.csv", nrows=nrows, dtype={'FEN':str, 'Evaluation':str})

In [4]:
df

                                                     FEN Evaluation
0      rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...        -10
1      rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBN...        +56
2      rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBN...         -9
3      rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKB...        +52
4      rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPPN1PPP/R1BQK...        -26
...                                                  ...        ...
49995  2rqr1k1/3n1pb1/p1bp2pp/1p1N4/4P3/1P3P2/PBBQ2PP...       +136
49996  2rqr1k1/3n1pB1/p1bp2pp/1p1N4/4P3/1P3P2/P1BQ2PP...       +100
49997  2rqr3/3n1pk1/p1bp2pp/1p1N4/4P3/1P3P2/P1BQ2PP/3...       +126
49998  2rqr3/3n1pk1/p1bp2pp/1p6/4P3/1P2NP2/P1BQ2PP/3R...        +95
49999  2rq4/3n1pk1/p1bpr1pp/1p6/4P3/1P2NP2/P1BQ2PP/3R...       +192

[50000 rows x 2 columns]