In [34]:
import pandas as pd
import utils
import numpy as np

df = pd.read_csv("../data/kaggleDataset/chessData.csv", nrows=nrows, dtype={'FEN':str, 'Evaluation':str})

In [35]:
fen_strings = df.FEN
evaluations = utils.preprocess_scores(df.Evaluation)

# Vectorize the FEN strings
vectorized_data = np.vstack([utils.vectorize(fen) for fen in fen_strings]).astype('int')

# Combine the vectorized data with the evaluations
combined_data = np.hstack((vectorized_data, np.array(evaluations).reshape(-1, 1)))

# Define the column names
column_names = [i for i in range(832)] + ["Evaluation"]

# Create the DataFrame
df = pd.DataFrame(combined_data, columns=column_names)

In [2]:
def applyVectorize(FEN):
    return pd.DataFrame(np.asarray(utils.vectorize(FEN)).reshape(1,832))

In [6]:
applyVectorize(df.FEN[0])

,0,1,2,3,4,5,6,7,8,9,...,822,823,824,825,826,827,828,829,830,831
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
pd.DataFrame(np.asarray(df.FEN.apply()).reshape(1,832))

In [105]:
pd.DataFrame(df.FEN.apply(utils.vectorize).apply(flatten))

                                                  FEN
0   [[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,...
1   [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,...
2   [[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,...
3   [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,...
4   [[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,...
..                                                ...
95  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,...
96  [[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,...
97  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,...
98  [[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,...
99  [[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,...

[100 rows x 1 columns]

In [27]:
pd.DataFrame(x1[0].reshape(1,832).astype('int'))

,0,1,2,3,4,5,6,7,8,9,...,822,823,824,825,826,827,828,829,830,831
0,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x

In [69]:
import pandas as pd
nrows = 50_000

df_vect = pd.read_csv("../data/createdData/vectorized.csv")

In [70]:
df_vect

,Unnamed: 0,FEN,Evaluation
0,0,[[[1 0 0 0 1 0 0 1]\n [0 0 0 0 0 0 0 0]\n [0...,-10
1,1,[[[1 0 0 0 0 0 0 1]\n [0 0 0 0 0 0 0 0]\n [0...,56
2,2,[[[1 0 0 0 1 0 0 1]\n [0 0 0 0 0 0 0 0]\n [0...,-9
3,3,[[[1 0 0 0 0 0 0 1]\n [0 0 0 0 0 0 0 0]\n [0...,52
4,4,[[[1 0 0 0 1 0 0 1]\n [0 0 0 0 0 0 0 0]\n [0...,-26
...,...,...,...
29761,29761,[[[0 0 0 0 0 0 0 0]\n [0 0 0 0 0 0 0 0]\n [0...,211
29762,29762,[[[0 0 0 0 1 0 0 0]\n [0 0 0 0 0 0 0 0]\n [0...,13
29763,29763,[[[0 0 0 0 0 0 0 0]\n [0 0 0 0 0 0 0 0]\n [0...,78
29764,29764,[[[0 0 0 0 1 0 0 0]\n [0 0 0 0 0 0 0 0]\n [0...,37
29765,29765,[[[0 0 0 0 0 0 0 0]\n [0 0 0 0 0 0 0 0]\n [0...,87

In [54]:
fen_string = df_vect.FEN[0]

In [27]:
# import numpy as np
# import re

# def toArray(fen_string):
#     formatted_string = re.sub(r'\[|\]', '', fen_string)

#     # Split the string into separate blocks of 13 8x8 arrays
#     fen_blocks = formatted_string.split('\n\n ')

#     # Define a function to convert a single FEN block to a 3D list
#     def fen_to_3d_array(fen_block):
#         rows = fen_block.split('\n')
#         return [[[int(cell) for cell in row.split()] for row in rows[i:i + 8]] for i in range(0, len(rows), 8)]

#     # Convert each FEN block to a 3D list
#     fen_arrays = [fen_to_3d_array(fen_block) for fen_block in fen_blocks]

#     # Convert to numpy array and check the shape
#     return np.asarray(fen_arrays).reshape(13,8,8)

# dfcopy = df.copy().head(100)[['FEN','Evaluation']]
# dfcopy.FEN = dfcopy.FEN.apply(toArray)

In [65]:
import pandas as pd
import numpy as np
import re

# Assuming 'data' is your DataFrame with the column of strings
# Replace 'column_name' with the name of the column containing the strings
column_name = 0

# Define a function to convert the string to a list of integers
def string_to_list(s):
    return list(map(int, re.findall(r'\d+', s)))


# Apply the function to the column
x = df_vect['FEN'].apply(string_to_list)

# Split the list into multiple columns
expanded_data = pd.DataFrame(x.to_list(), columns=[i for i in range(832)])

# Drop the original column and join the expanded columns to the original DataFrame
df_vect = df_vect.drop('FEN', '0', axis=1)
df_vect = df_vect.join(expanded_data)

df_vect

C:\Users\Matthew Saad\AppData\Local\Temp\ipykernel_24268\3853086489.py:21: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_vect = df_vect.drop('FEN', '0', axis=1)

TypeError: DataFrame.drop() got multiple values for argument 'axis'

In [66]:
expanded_data

,0,1,2,3,4,5,6,7,8,9,...,822,823,824,825,826,827,828,829,830,831
0,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29761,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29762,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29763,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29764,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Looking at different possibilities for saving off data

In [3]:
import utils
import pandas as pd
import numpy as np

df = pd.read_csv("../data/kaggleDataset/chessData.csv", nrows=10_000)

x = np.ndarray(shape=(len(df),13,8,8))
y = np.array(df.iloc[:,1])

#have preprocessing here right now for testing, should save processed scores in file
# once we decide how to do this
for i, f in enumerate(df.iloc[:,0]):
    x[i] = utils.vectorize(f)
x = x.reshape((len(df),832))
y = utils.preprocess_scores(y)

In [16]:
x.shape

(10000, 832)

In [21]:
real_df = pd.DataFrame(x.astype('int'))
real_df['y'] = y

In [22]:
real_df

,0,1,2,3,4,5,6,7,8,9,...,823,824,825,826,827,828,829,830,831,y
0,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,-10.0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,56.0
2,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,-9.0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,52.0
4,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,-26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-21.0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30.0
9997,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-51.0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14.0
9999,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-19.0